include Cargo.toml
include Cargo.lock
include desktop/Cargo.toml
recursive-include desktop/src *
recursive-include desktop/assets *
include scan/Cargo.toml
recursive-include scan/src *
include scripts/cibw-repair-linux.sh
include LICENSE
